<!--Hailey Bronson, Sec 3: this website features Hailey's hobby pickleball
    and includes a calculator that quotes rates for private lessons
-->

<!-- 
A title on the tab of the web page-->
@{
    ViewData["Title"] = "The Pickle Sport";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <!-- A heading that introduces your site-->
    <h1 class="display-4">Welcome to Hailey's Hobby: Pickleball</h1>
    <br/>
    <br/>
    <!-- A few paragraphs talking about your hobby-->
    <p> I was introduced to Pickleball in St George when my family started vacationing there 
        about 6 years ago. I then moved to Scottsdale, AZ at the beginning of COVID and would 
        travel down to Mesa/Gilbert to play with YSAs. From there, I started playing at Club 
        Pickleball USA my freshman year quite frequently. 
    </p>

    <p> This last year since coming home from my mission, I competed in several 4.5 
        tournaments with a DUPR ranking of 4.87/5.0 
        and traveled to Vegas for a National Tournament this last fall. Now, I just like
        to keep it as a strict hobby and don't find too much time to play all that often.
    </p>

    <!-- At least two images-->
    <img src="~/playing.jpg" height ="400"/>
    <img src="~/playing2.png" height="400"/>
</div>
